@using Microsoft.AspNetCore.Http.Features

@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
}

@if (showBanner)
{   <section id="cookie-consent-section">
        <div id="cookieConsent" class="site-width">
            <span class="cookie-consent-flex-item">
                
                    We use cookies for statistics and the correct functioning of our web application.
                    Read our <a asp-page="privacy" target="_blank">Privacy Policy</a> for more information.


                
            </span>
            <button id="cookie-accept-button" type="button" class="cookie-consent-flex-item" data-cookie-string="@cookieString">Accept</button>
        </div>
    </section>
    <script>
        (function () {
            document.querySelector("#cookieConsent button[data-cookie-string]").addEventListener("click", function (el) {
                document.cookie = el.target.dataset.cookieString;
                document.querySelector("#cookie-consent-section").classList.add("hidden");
            }, false);
        })();
    </script>
}