<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewData["Title"] - ImageFlashCards</title>

    <environment include="Development">
        @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />*@
        <link rel="stylesheet" href="~/css/image-flashcards-main.css" />
        <link rel="stylesheet" href="~/css/flashcard.css" />
        <link rel="stylesheet" href="~/css/lesson-controls.css" />
        <link rel="stylesheet" href="~/css/consent.css" />
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap" rel="stylesheet">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    @RenderSection("Styles", false)
</head>

<body >
    <header>
        <nav class="nav-menu site-width">
            <ul class="nav-list">
                @*<li class="nav-list-item "><a class="main-font-color" asp-page="/Index">ImageFlashcards</a></li>*@
                <li  class="nav-list-item "><span id="main-menu-button">
                    ImageFlashcards<i class="menu-arrow"> </i>
                        <div id="main-menu-expanded">
                            <p style="width:100%;">Home</p>
                            <div class="main-menu-expanded-section">
                                <span>SignIn</span>
                                <span class="join-button">Join</span>
                            </div>  
                            <p>My Stats</p>
                            <p style="display:flex;text-wrap:none;">Create new ImageFlashcard</p>
                        </div>
                    </span></li>
                <li class="nav-list-item "><a class="main-font-color" asp-page="/About">About</a></li>
                @if (User.HasClaim(claim =>
              claim.Type == DefinedUserClaimTypes.Role &&
                 claim.Value == DefinedRoles.Admin))
                {
                    <li class="nav-list-item"><a class="main-font-color" asp-page="/CreateLessons">Create Lessons</a></li>
                }
            </ul>
            <partial name="_LoginPartial" />
        </nav>
    </header>
    


    <main>
        @RenderBody()
        @*<section  class="feedback-section">*@

        <partial name="_CookieConsentPartial" />
        @{ var subscribeBarCookie = Model.Request.Cookies["subscribe-bar"];}
        @if (subscribeBarCookie == null)
        {
            <section id="subscribe-section" class="background-black">
                <form id="subscribe-form" class="site-width" action="/" method="post">
                    <label class="subscribe-form-items" for="subscribeEmail">
                        Let us notify you when we add more flashcards and features. No spam. One click unsubscribe.
                    </label>
                    <input class="subscribe-form-items" type="email" name="subscribeEmail" value="" placeholder="your email" />
                    <input class="subscribe-form-items" id="subscribe-button" type="submit" value="Subscribe" />
                    <button class="subscribe-form-items" id="subscribe-disable-button">X</button>
                </form>
            </section>
        }
        <form class="feedback-form site-width" asp-page="feedback" method="post">

            <p class="feedback-title">
                <svg class="feedback-svg-icon" viewBox="0 0 20 20">
                    <path d="M13.889,11.611c-0.17,0.17-0.443,0.17-0.612,0l-3.189-3.187l-3.363,3.36c-0.171,0.171-0.441,0.171-0.612,0c-0.172-0.169-0.172-0.443,0-0.611l3.667-3.669c0.17-0.17,0.445-0.172,0.614,0l3.496,3.493C14.058,11.167,14.061,11.443,13.889,11.611 M18.25,10c0,4.558-3.693,8.25-8.25,8.25c-4.557,0-8.25-3.692-8.25-8.25c0-4.557,3.693-8.25,8.25-8.25C14.557,1.75,18.25,5.443,18.25,10 M17.383,10c0-4.07-3.312-7.382-7.383-7.382S2.618,5.93,2.618,10S5.93,17.381,10,17.381S17.383,14.07,17.383,10"></path>
                </svg>
                <span>Need help?</span>
            </p>

            <div id="feedback-form-fields">
                <div id="feedback-sent-message" style="display:none;position:absolute;height:140px;width:100%;top:120px;">
                    <span style="margin:auto;">Thank you!</span>
                </div>
                <input class="feedback-section-items" type="text" name="name" value="" placeholder="Name" />
                <input class="feedback-section-items" type="email" name="email" value="" placeholder="Email" />
                <textarea class="feedback-section-items" name="message" maxlength="350" data-initial-text="Hi, I liked using your web page but...">Hi, I liked using your web page but...</textarea>
                <div class="feedback-characters-counter"></div>
                <input type="submit" value="Send" />
            </div>

        </form>
        @*</section>*@
    </main>
   
    <footer>
        

        <section class="footer-container site-width">

            <span class="copyright-span">&copy; 2020 - Shider Petkov</span>

        </section>
    </footer>
    <section id="modals-section">
        
    </section>

<environment include="Development">
    @*<script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>*@
    <script src="~/js/jquery-3.4.1.min.js" asp-append-version="true"></script>
    <script src="~/js/pxem.jQuery.js" asp-append-version="true"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>
</environment>
    <environment exclude="Development">
        @*<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                    asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                    asp-fallback-test="window.jQuery"
                    crossorigin="anonymous"
                    integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
            </script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
                    asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                    crossorigin="anonymous"
                    integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd">
            </script>
            <script src="~/js/site.min.js" asp-append-version="true"></script>*@
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
