@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav-list">
            @*<li class="nav-list-item main-font-color">
                <a class="main-font-color" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"> @UserManager.GetUserName(User)!</a>
            </li>*@
            <li class="nav-list-item ">
                <button type="submit" class="main-font-color">Logout</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav-list">
        <li class="nav-list-item"><a class="main-font-color" asp-area="Identity" asp-page="/Account/Register">Sign Up</a></li>
        <li class="nav-list-item"><a class="main-font-color" asp-area="Identity" asp-page="/Account/Login">Sign In</a></li>
    </ul>
}