#cookie-consent-section {
    display: flex;
    /*justify-content: center;*/
    align-content: stretch;
    min-height: 2em;
    height: auto;
    width: 100%;
    background-color: #9cc926;
}
#cookieConsent {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: center;
    margin: 0 auto;
    width: 100%;
}

.cookie-consent-flex-item {
    /*margin-left: 0.6em;*/
    margin: 0.3em 0.6em;
    font-size: 0.8em;
}

span.cookie-consent-flex-item {
    align-self: center;
}

#cookie-accept-button {
    cursor: pointer;
    outline: none;
    background-color: black;
    color: white;
    border-radius: 5px;
    border: 3px solid black;
    width: 8em;
}

    #cookie-accept-button:hover, #cookie-accept-button:focus {
        background-color: #9cc926;
        color: black;
    }

.hidden {
    display: none !important;
}

@media (max-width: 650px) {
    #cookieConsent {
        flex-wrap: wrap;
        
        
    }
}

