.flashcard {
    position: absolute;
    background-color: rgb(245, 132, 26);
    display: none;
    flex-direction: column;
    flex-wrap: wrap;
    width: 1px;
    height: 1px;
    z-index: 2;
    /*-webkit-transition: width 0.3s, height 0.7s;*/
    /*transition: width 0.3s, height 0.7s;*/
    /*transition: height 0.7s, width 0.3s, left 0.3s;*/
    transition-timing-function: ease;
    padding: 10px;
    white-space: nowrap;
    box-shadow: 5px 5px 5px black;
    border: 1px solid white;
    box-sizing: border-box;
    border-radius: 1em;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -khtml-box-sizing: border-box;
    /*overflow: hidden;*/
    /*transform: rotateX(90deg);*/
}

.flashcard-toggle {
    position: absolute;
    background-color: rgb(245, 132, 26);
    width: 1.8em;
    height: 1.8em;
    border: 1px solid white;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    z-index: 12;
}

.flashcard-toggle-right-edge {
    border-top-left-radius: 15px;
    border-top-right-radius: 0;
}

        .flashcard-added {
            position: absolute;
            width: 10em;
            height: 5em;
            display: block;
            flex-flow: column;
            background-color: orange;
            border-top-right-radius: 10%;
            border-bottom-right-radius: 10%;
            border-bottom-left-radius: 40%;
            top: 54.2074px;
            left: 101.506px;
            transition: width 0.3s ease 0s, height 0.7s ease 0s;
            z-index: 2;
            cursor: grab;
            padding: 0.5em;
        }

.top-left {
    border-top-left-radius: 0;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.top-right {
    border-top-left-radius: 15px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.bottom-left {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 15px;
}

.bottom-right {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 0;
}

/* .box-fc:hover {
  transform: rotateX(180deg);
  transition: transform 2s;
} */

.native-word {
    /*display: block;*/
    display: none;
    position: static;
    
    /*overflow: hidden;*/
    width: auto;
    margin: auto;
    /*background-color: rgb(240, 209, 181);*/
    border-radius: 5px;
}

.foreign-word-input {
    display: none;
    flex: 90 1;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    border: 0;
    /*border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-color: black;
    border-width: 1px;
    border-right-width: 0;*/
    /*padding: 1px 2px 1px 3px;*/
}
/* .foreign-word-input:hover {
  left: 50px;  
} */
.flashcard-buttons-panel {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.flashcard-button {
    width: 48%;
    height: 1.5rem;
    border-radius: 5px;
}


.foreign-word-span {
    /*display: block;*/
    display: flex;
    align-items: stretch;
     
}

.foreign-word-input:focus {
    outline: none;
    /*box-shadow: 0 0 10px black;*/
    /*outline: 1px dashed red;*/
    background-color: rgb(240, 240, 240);
}

.turn-fc-button {
    border-color: white;
    border-style: solid;
    border-width: 2px;
    
    background-color: rgb(185, 28, 7);
    /* float: right; */
    display: none;
    /*position: absolute;
    padding: 0;
    left: -20px;
    top: 20px;
    z-index: 99;*/
}

    .turn-fc-button:hover {
        background-color: rgb(153, 22, 5);
        /*width: 40px;
        height: 40px;
        left: -25px;
        top: 25px;*/
    }
/* .foreign-word-input:caret {
    width: 3px;
} */

.check-button {
    display: none;
    /*border-radius: 5px;*/
    /*border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;*/
    position: relative;
    padding: 1px 2px 1px 3px;
    
    background-color: rgb(6, 112, 126);
    border-color: black;
    border-width: 1px;
    /*border-left-width: 0;*/
    /*float: right;*/
    /*outline: none;*/
}

    .check-button:hover {
        background-color: gray;
        /* width: 60px; */
        /* margin-left: '10px'; */
    }

    .check-button svg {
        margin: 0;
    }

        .check-button svg:hover {
            /* display: inline; */
            position: relative;
            left: 5px;
        }


.foreign-word {
    display: none;
    /*overflow: hidden;*/
    /*position: relative;*/
    /*margin: 3px 3px 3px 3px;*/
    /*background-color: rgb(240, 209, 181);*/
    margin: 0 !important;
    border-radius: 5px;
    /*padding: 1px 2px 1px 3px;*/
    text-align: center;
    /*width:100%;*/
}

.foreign-word-container {
    height: 1.5em;
    
}

.done {
    background-color: rgb(125, 184, 141);
}
