.panel {
    background-color: gray;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: stretch;
    height: 3em;
}

    .panel ul {
        display: flex;
        /*list-style: none;*/
        justify-content: space-around;
        flex-flow: row wrap;
        padding: 0.2em;
        margin: 0.2em;
    }

        .panel ul li {
            display: flex;
            flex-flow: row wrap;
            align-items: stretch;
            margin-left: 0.2em;
            /*border: 1px solid black;*/
        }

            .panel ul li > button {
                background-color: gray;
                border: 0;
                flex: 1 1 10em;
                justify-content: space-around;
                /*padding: 0 1em 0 1em; */
            }

                .panel ul li > button:hover {
                    background-color: darkgray;
                    cursor: pointer;
                }

            .panel ul li > label {
                display: flex;
                height: 100%;
                cursor: pointer;
                align-items: center;
                justify-content: space-around;
                flex: 1 1 10em;
                margin: 10px;
            }

                .panel ul li > label > label {
                    margin: 10px;
                }

                .panel ul li > label > span {
                    margin: 10px;
                }

    /*.panel > ul li:hover {
        background-color: blue;
    }*/

    .panel > ul li label:hover {
        background-color: darkgray;
    }
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 2em;
    height: 0.7em;
}

    .switch + label {
        cursor: pointer;
    }
    /* Hide default HTML checkbox */
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

    .slider:before {
        box-shadow: 0 0 4px black;
        position: absolute;
        content: "";
        height: 1em;
        width: 1em;
        left: 0;
        bottom: -0.15em;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    /*box-shadow: -1px -1px 4px black; */
}

input:checked + .slider:before {
    -webkit-transform: translateX(1.1em);
    -ms-transform: translateX(1.1em);
    transform: translateX(1.1em);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

    .slider.round:before {
        border-radius: 50%;
    }
