@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

    <section id="content-section" style="display:flex;justify-content:center;">
        <div class="site-width" style="width:100%;padding: 3em 0;">
            <div class="text-content-width">
                <h2 style="min-width:100%;">@ViewData["Title"]</h2>

                <h4>What information we gather</h4>
                <p>
                    We don't gather any personal information from our users.
                </p>

                <h4>Third party companies who gather information on our web site</h4>
                <p>
                    We use Google Analytics for statistics about our web page. Please refer to <a href="https://policies.google.com/technologies/partner-sites" target="_blank">
                    "How Google uses data when you use our partners' sites or apps"
                    </a> 
                    for more information.
                </p>

            </div>
        </div>        
    </section>
